fastapi
uvicorn
pymongo
python-dotenv
passlib[bcrypt]
email-validator
mangum        # only if AWS Lambda, not needed for Vercel
python-multipart  # required for UploadFile
pydantic[email]  # for email validation